.ggLoader {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}

.ggLoaderImage {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px;
   margin-top: -32px;
   display: block;
}
