<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/angular/angular-csp.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="nggs-loader.css" />
  <title>nggs.loader - Demo</title>
</head>

<body ng-cloak ng-controller="nggsLoaderDemoController as vm">
  <br />
  <div class="container">
    <div class="jumbotron">
      <h1>nggs.loader</h1>
      <p translate="LOADER_TITLE_DESCRIPTION"></p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
        <div class="fixed-to-top" data-margin-top="20">
          <ol>
            <li>
              <a href="#intro" translate="INTRODUCTION"></a>
            </li>
            <li>
              <a href="#ignoring_interceptor" translate="LOADER_IGNORING_INTERCEPTOR_TITLE"></a>
            </li>
            <li>
              <a href="#multiple_loaders" translate="LOADER_MULTIPLE_LOADERS_TITLE"></a>
            </li>
            <li>
              <a href="#configuration" translate="CONFIGURATION"></a>
            </li>
            <li>
              <a href="#demo" translate="DEMO"></a>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <h2 id="intro">
          1. <translate>INTRODUCTION</translate>
        </h2>
        <p translate="LOADER_INFO_DESCRIPTION"></p>
        <pre translate="LOADER_EXAMPLE_1_CODE"></pre>
        <p translate="LOADER_EXAMPLE_1_EXPLANATION"></p>
        <div class="alert alert-info" translate="LOADER_EXAMPLE_1_ALERT"></div>
        <div class="alert alert-warning" translate="LOADER_ALERT"></div>

        <h2 id="ignoring_interceptor">
          2. <translate>LOADER_IGNORING_INTERCEPTOR_TITLE</translate>
        </h2>
        <p translate="LOADER_IGNORING_INTERCEPTOR_DESCRIPTION"></p>

        <h2 id="multiple_loaders">
          3. <translate>LOADER_MULTIPLE_LOADERS_TITLE</translate>
        </h2>
        <p translate="LOADER_MULTIPLE_LOADERS_DESCRIPTION"></p>
        <pre translate="LOADER_EXAMPLE_2_CODE"></pre>

        <h2 id="configuration">
          4. <translate>CONFIGURATION</translate>
        </h2>
        <p translate="LOADER_CONFIGURATION_DESCRIPTION"></p>
        <pre translate="LOADER_EXAMPLE_3_CODE"></pre>

        <h2 id="demo">
          5. <translate>DEMO</translate>
        </h2>

        <p>HTML</p>
        <pre>
&lt;div gg-loader="fullLoading" class="ggLoader"&gt;
    &lt;i class="fa fa-spinner fa-3x fa-spin ggLoaderImage"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 125px;"&gt;
        leftLoading
        &lt;div gg-loader="leftLoading" style="width: 100%; height: 100px; padding-top: 25px;" class="text-center bg-success text-success"&gt;
            &lt;i class="fa fa-spinner fa-3x fa-spin"&gt;&lt;/i&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 style="height: 125px;""&gt;
        rightLoading
        &lt;div gg-loader="rightLoading" style="width: 100%; height: 100px; padding-top: 25px;" class="text-center bg-danger text-danger"&gt;
            &lt;i class="fa fa-spinner fa-3x fa-spin"&gt;&lt;/i&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        <button type="button" class="btn btn-primary" ng-click="vm.manualShow('fullLoading')">Manual fullLoading</button>
        <button type="button" class="btn btn-primary" ng-click="vm.http('fullLoading')">HTTP request fullLoading</button>
        <br /><br />
        <button type="button" class="btn btn-success" ng-click="vm.manualShow('leftLoading')">Manual show() leftLoading</button>
        <button type="button" class="btn btn-success" ng-click="vm.manualHide('leftLoading')">Manual hide() leftLoading</button>
        <button type="button" class="btn btn-success" ng-click="vm.http('leftLoading')">HTTP request leftLoading</button>
        <br /><br />
        <button type="button" class="btn btn-danger" ng-click="vm.manualShow('rightLoading')">Manual show() rightLoading</button>
        <button type="button" class="btn btn-danger" ng-click="vm.manualHide('rightLoading')">Manual hide() rightLoading</button>
        <button type="button" class="btn btn-danger" ng-click="vm.http('rightLoading')">HTTP request rightLoading</button>
        <br /><br />
        <div gg-loader="fullLoading" class="ggLoader">
          <i class="fa fa-spinner fa-3x fa-spin ggLoaderImage"></i>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 125px;">
            leftLoading
            <div gg-loader="leftLoading" style="width: 100%; height: 100px; padding-top: 25px;" class="text-center bg-success text-success">
              <i class="fa fa-spinner fa-3x fa-spin" style="color: white"></i>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height: 125px;">
            rightLoading
            <div gg-loader="rightLoading" style="width: 100%; height: 100px; padding-top: 25px;" class="text-center bg-danger text-danger">
              <i class="fa fa-spinner fa-3x fa-spin" style="color: white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="i18n" class="btn-group-vertical" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="vm.setLanguage('en')" ng-class="{ active: vm.currentLanguage == 'en' }">
      <img src="../../assets/images/USA.png"></img>
    </button>
    <button type="button" class="btn btn-default" ng-click="vm.setLanguage('pt-Br')" ng-class="{ active: vm.currentLanguage == 'pt-Br' }">
      <img src="../../assets/images/Brazil.png"></img>
    </button>
  </div>

  <script src="../../assets/lib/requirejs/require.min.js"></script>
  <script>
    require.config({
      baseUrl: '../../assets/lib/',
      paths: {
        jquery: 'jquery/jquery.min',
        fixedToTop: '../js/fixed-to-top',
        angular: 'angular/angular.min',
        'angular-translate': 'angular-translate/angular-translate.min',
        'angular-translate-loader-static-files': 'angular-translate/angular-translate-loader-static-files.min',
        'nggs.loader': '../../demo/loader/nggs-loader',
        'nggs.http': '../../demo/loader/nggs-http',
        nggsLoaderDemo: '../../demo/loader/nggsLoaderDemo',
      },
      shim: {
        jquery: {
          export: '$'
        },
        fixedToTop: {
          deps: ['jquery']
        },
        angular: {
          export: 'angular',
          deps: ['jquery']
        },
        'angular-translate': {
          deps: ['angular']
        },
        'angular-translate-loader-static-files': {
          deps: ['angular', 'angular-translate']
        },
        'nggs.loader': {
          deps: ['angular']
        },
        'nggs.http': {
          deps: ['angular']
        },
        nggsLoaderDemo: {
          deps: ['angular', 'nggs.loader', 'nggs.http']
        }
      }
    });
    require(['jquery', 'fixedToTop', 'angular', 'nggs.loader', 'nggs.http', 'nggsLoaderDemo'],
      function () {
        angular.bootstrap(document, ['nggsLoaderDemo']);
      }
    );
  </script>
</body>

</html>